* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    .header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;    
  }
  
  .right-links {
    display: flex;
    gap: 15px;
  }

